body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  background: linear-gradient(
        179.34deg,
        rgba(193, 227, 211, 0.52) 0.57%,
        rgba(245, 248, 252, 0.45) 19.85%
      )
      no-repeat,
    linear-gradient(0deg, #fbf3e5, #fbf3e5) no-repeat;

  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  color: #252a3f;
}

/* !Header Section */
.header {
  width: 1275px;
  height: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  font-size: 16px;

  width: 330px;

  list-style-type: none;

  display: flex;
  justify-content: space-between;
}
.header-nav__link {
  color: #3d425a;

  text-decoration: none;
}
.header-nav__link_active {
  color: #47d18c;
}

.header-login {
  font-size: 16px;

  width: 78px;

  display: flex;
  justify-content: space-between;
}
.header-login__link {
  text-decoration: none;

  color: #3d425a;
}

.header-buttons-couple {
  width: 218px;

  display: flex;
  justify-content: space-between;
}
.header-buttons-couple__elem {
  width: 105px;
  height: 38px;

  font-size: 12px;
  color: #7f879e;
  font-weight: 600;

  background-color: #ffffff;
  border: 1px solid #aaafbe;
  border-radius: 12px;
}
.header-buttons-couple__elem_black {
  color: #ffffff;

  background-color: #3d425a;
  border: none;
}

/* !Main Section */
.main {
  width: 1275px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* !Hero Section */
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  text-transform: capitalize;
  color: #252a3f;
  font-size: 62px;
}
.hero__title_green {
  color: #47d18c;
}

.hero__paragraph {
  font-size: 18px;
  font-weight: 400;
}

.hero__buttons-couple {
  width: 393px;
  display: flex;
  justify-content: space-between;
}
.hero__button {
  width: 196px;
  height: 56px;
  padding: 0;

  background-color: #ffffff;
  border: 1px solid #aaafbe;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;
  color: #7f879e;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__button_black {
  background-color: #3d425a;
  color: #ffffff;
}
.hero__button-text {
  margin-left: 36px;
}
.hero__arrow {
  margin-right: 36px;
}

.hero__pictures {
  width: 720px;
  background: url(image/hero/hero-background.svg) no-repeat;
}
.hero__img {
  border: 6px solid #0000000f;
  border-radius: 300px;
  /* width: 50px;
  height: 50px; */
}
.hero__img:first-child {
  width: 238px;
  height: 317px;
}
.hero__img:last-child {
  border: none;
  /* position: absolute; */
}
/* .footer {
  border-radius: 30px 30px 0 0;
  width: 100%;
  background-color: #eee8dd;
} */
