body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  background: linear-gradient(
        179.34deg,
        rgba(193, 227, 211, 0.52) 0.57%,
        rgba(245, 248, 252, 0.45) 19.85%
      )
      no-repeat,
    linear-gradient(0deg, #fbf3e5, #fbf3e5) no-repeat;

  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  color: #252a3f;
}

/* !Header Section */
.header {
  width: 1275px;
  height: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  font-size: 16px;

  width: 330px;

  list-style-type: none;

  display: flex;
  justify-content: space-between;
}
.header-nav__link {
  color: #3d425a;

  text-decoration: none;
}
.header-nav__link_active {
  color: #47d18c;
}

.header-login {
  font-size: 16px;

  width: 78px;

  display: flex;
  justify-content: space-between;
}
.header-login__link {
  text-decoration: none;

  color: #3d425a;
}

.header-buttons-couple {
  width: 218px;

  display: flex;
  justify-content: space-between;
}
.header-buttons-couple__elem {
  width: 105px;
  height: 38px;

  font-size: 12px;
  color: #7f879e;
  font-weight: 600;

  background-color: #ffffff;
  border: 1px solid #aaafbe;
  border-radius: 12px;
}
.header-buttons-couple__elem_black {
  color: #ffffff;

  background-color: #3d425a;
  border: none;
}

/* !Main Section */
.main {
  width: 1275px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* !Hero Section */
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  text-transform: capitalize;
  color: #252a3f;
  font-size: 62px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.hero__title_green {
  color: #47d18c;
}

.hero__paragraph {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hero__buttons-couple {
  /* width: 393px; */
  width: 410px;
  display: flex;
  justify-content: space-between;
}
.hero__button {
  width: 196px;
  height: 56px;
  padding: 0;

  background-color: #ffffff;
  border: 1px solid #aaafbe;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;
  color: #7f879e;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__button_black {
  background-color: #3d425a;
  color: #ffffff;
}
.hero__button-text {
  margin-left: 36px;
}
.hero__arrow {
  margin-right: 36px;
}
.hero__pictures {
  width: 720px;
  height: 750px;
  background: url(image/hero/hero-background.svg) no-repeat;
}

/* !Steps */

.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 160px;
}

.steps__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 44px;
}
.steps_green {
  color: #47d18c;
}
.steps__paragraph {
  margin-bottom: 160px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.steps-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.steps-card__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  width: 320px;
  height: 410px;
  padding: 40px;

  background-color: #ffffff;
  border-radius: 30px;
}
.steps-card__item_black {
  background-color: #3d425a;
  color: #eaedb6;
}
.steps-card__item:first-child {
  transform: translateY(-50px);
}
.steps-card__item:last-child {
  transform: translateY(50px);
}

.steps-card__container {
  flex-grow: 2;
}
.steps-card__number {
  font-size: 20px;
  padding: 10px 17px;
  display: inline;
  border: 2px solid #3d425a;
  border-radius: 30px;
}
.steps-card__number_black {
  color: #3d425a;
  background-color: #eaedb6;
  border: none;
}
.steps-card__title {
  font-size: 32px;
  font-weight: 700;
}
.steps-card__paragraph {
  font-weight: 400;
  font-size: 16px;
}

/* !Sign-Up */

.sign-up {
  width: 100%;
  height: 760px;
  border-radius: 30px;
  background: url(image/sign-up/figure.svg) center no-repeat;
  background-color: #b1dfc9;
  position: relative;

  margin-bottom: 100px;
}
.sing-up__col {
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 70px 50px;
}

.sign-up__picture {
  position: absolute;
  right: -12%;
  top: 11%;
}
.sign-up__title {
  margin-top: 70px;
  margin-bottom: 0px;

  font-size: 44px;
  font-weight: 600;
}
.sing-up__paragraph {
  margin-top: 0px;
  margin-bottom: 70px;

  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.sign-up__button {
  width: 196px;
  height: 56px;
  padding: 0;

  border: 1px solid #aaafbe;
  border-radius: 12px;
  background-color: #3d425a;
  color: #ffffff;

  font-size: 16px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up__button-text {
  margin-left: 36px;
}
.sign-up__arrow {
  margin-right: 36px;
}

/* !Oppotr */
.opport {
  width: 100%;
  margin-bottom: 200px;
}
.opport__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.opport_green {
  color: #47d18c;
}
.opport__paragraph {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px;
}

.opport__cards {
  display: flex;
  justify-content: space-between;
}

.opport__item {
  background-color: #ffffff;
  border-radius: 30px;

  width: 255px;
  height: 300px;
  padding: 20px 20px 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.opport__item:nth-child(2),
.opport__item:last-child {
  transform: translateY(80px);
}
.opport__card-title {
  margin: 50px 0 0 0;
  font-size: 24px;
  font-weight: 700;
  color: #e1a814;
}
.opport__card-title_blue {
  color: #1f8fff;
}
.opport__card-title_green {
  color: #73b193;
}
.opport__card-title_yellow {
  color: #a3a93b;
}
.opport__card-paragraph {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

/* !Partners */

.partners {
  width: 100%;
}

.partners__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
/* .partners__row:first-child {
  margin-bottom: 80px;
} */

.partners__title {
  font-size: 44px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}
.partners__title_green {
  color: #47d18c;
}

.partners__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partners__paragraph {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.partners__buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
}
.partners__button {
  border-radius: 12px;
  border: 1px solid #aaafbe;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  padding: 5px 0 0 0;
}

.partners__item {
  border: 3px solid #d4d7df;
  border-radius: 30px;

  width: 314px;
  height: 314px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.partners__item:nth-child(2) {
  background-color: #ffffff;
}

.partners__logo {
  margin-bottom: 20px;
}
.partners__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.partners__address {
  color: #3d425a;
  font-style: normal;
}
/* .footer {
  border-radius: 30px 30px 0 0;
  width: 100%;
  background-color: #eee8dd;
} */
